html {
  scroll-behavior: smooth;
  max-width: 100%;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 9.22em 35em 35em 35em 9.22em;
  font-family: "Arvo", serif;
  width: 100%;
  overflow-x: hidden;
  background: #b6b6b4;
}

header {
  grid-column: 1/3;
  background: #2c3539;
  padding: 1rem;
  text-align: center;
  color: #9afeff;
  width: auto;
}

header h1 {
  font-family: "Ubuntu", sans-serif;
}

header p {
  font-family: "Lobster", cursive;
  font-size: 1.5em;
}

nav {
  grid-row: 2/5;
  white-space: nowrap;
  background: black;
  line-height: 3em;
  font-family: "Ubuntu", sans-serif;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 2em;
}

@media (min-height: 300px) {
  nav ul {
    position: sticky;
    top: 0;
    text-align: center;
  }
}

nav ul h1 {
  font-size: 15px;
  color: #9afeff;
}

nav ul li a {
  display: block;
  padding: 0.5 rem 1rem;
  text-decoration: none;
  color: #9afeff;
}

nav ul li a:hover {
  background: #9afeff;
  color: black;
  font-size: 1.2em;
  border-radius: 5%;
}

main {
  padding-bottom: 40rem;
  width: 100%;
}

section {
  padding: 0;
  margin: 0;
  height: 35em;
}

#intro {
  display: flex;
  grid-row: 2/3;
  grid-column: 2/3;
  justify-content: space-evenly;
  align-items: center;
}

#skills {
  background-color: white;
  width: 100%;
  grid-row: 3/4;
  grid-column: 2/3;
}

#projects {
  background-color: #b6b6b4;
  grid-row: 4/5;
  grid-column: 2/3;
}

footer {
  grid-column: 1/3;
  grid-row: 5/6;
  background-color: #2c3539;
  padding: 3rem 1rem;
  color: #9afeff;
  width: auto;
}

.about-info {
  display: flex;
  height: 20em;
  width: 30em;
  justify-content: center;
}

.about {
  position: absolute;
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 2em;
  border-bottom: 2px 2px black;
  font-family: "Ubuntu", sans-serif;
  margin: 1em;
}

.info-me {
  font-size: 20px;
  width: 100%;
  height: 15em;
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: 4em;
  text-align: center;
}

.social {
  color: #9afeff;
  font-size: 2.5em;
}

.social:hover {
  color: white;
  font-size: 4em;
}

.placeholder {
  grid-column: 2/3;
  grid-row: 2/3;
  height: 50em;
  width: 50em;
}

.placeholder-size {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  border-style: groove;
  border-color: black;
  border-top-width: 0.3em;
  border-right-width: 0.3em;
  border-bottom-width: 0.3em;
  border-left-width: 0.3em;
}

.line {
  width: 100%;
  background-color: #2c3539;
  height: 50px;
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: flex-end;
}

.h-skills {
  grid-row: 3/4;
  grid-column: 2/3;
  font-size: 3em;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

/* #Python Logo */
.h-python {
  grid-row: 3/4;
  grid-column: 2/3;
  text-align: center;
  font-size: 2em;
}

.python {
  grid-row: 3/4;
  grid-column: 2/3;
  width: auto;
  height: 6em;
}

/* HTML logo */
.h-html {
  grid-row: 3/4;
  grid-column: 2/3;
  text-align: center;
  font-size: 2em;
  width: 180px;
}

.html {
  grid-row: 3/4;
  grid-column: 2/3;
  width: auto;
  height: 6em;
}

/* CSS logo */
.h-css {
  grid-row: 3/4;
  grid-column: 2/3;
  text-align: center;
  font-size: 2em;
}

.css {
  grid-row: 3/4;
  grid-column: 2/3;
  width: auto;
  height: 6em;
}

/* Javascript logo */
.h-javascript {
  grid-row: 3/4;
  grid-column: 2/3;
  text-align: center;
  font-size: 2em;
}

.javascript {
  grid-row: 3/4;
  grid-column: 2/3;
  width: auto;
  height: 6em;
}

/* Java logo */
.h-java {
  grid-row: 3/4;
  grid-column: 2/3;
  text-align: center;
  font-size: 2em;
}

.java {
  grid-row: 3/4;
  grid-column: 2/3;
  width: auto;
  height: 6em;
}

/* Spring logo */
.h-spring {
  grid-row: 3/4;
  grid-column: 2/3;
  text-align: center;
  font-size: 2em;
}

.spring {
  grid-row: 3/4;
  grid-column: 2/3;
  width: auto;
  height: 6em;
}

/* SQL logo */
.h-sql {
  grid-row: 3/4;
  grid-column: 2/3;
  text-align: center;
  font-size: 2em;
}

.sql {
  grid-row: 3/4;
  grid-column: 2/3;
  width: auto;
  height: 6em;
}

/* Django logo */
.h-django {
  grid-row: 3/4;
  grid-column: 2/3;
  text-align: center;
  font-size: 2em;
}

.django {
  grid-row: 3/4;
  grid-column: 2/3;
  width: auto;
  height: 6em;
}

.line2 {
  grid-row: 3/4;
  grid-column: 2/3;
  width: 100%;
  background-color: #2c3539;
  height: 50px;
}

.logo {
  text-align: center;
  width: 10em;
}

.all-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.h-projects {
  grid-column: 2/3;
  grid-row: 4/5;
  font-size: 3em;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

.cards {
  grid-column: 2/3;
  grid-row: 4/5;
  height: 20em;
  width: 30em;
}

.card-title {
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
  margin: 0;
  text-decoration: underline;
  text-decoration-color: black;
}

.square {
  height: 100%;
  width: 100%;
  background-color: black;
  border-radius: 5%;
  flex-direction: row;
}

.left {
  height: 100%;
  margin: 0;
  width: 50%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right {
  height: 100%;
  margin: 0;
  width: 50%;
  float: right;
  display: flex;
  flex-direction: column;
}

.source {
  position: relative;
  grid-column: 2/3;
  grid-row: 4/5;
  text-align: center;
  font-size: 1.5em;
  color: white;
  background: #b6b6b4;
  width: 85px;
  padding-left: 5px;
  border-style: groove;
  border-radius: 5%;
  margin-bottom: 0em;
  top: 0.5em;
}
.source a {
  text-decoration: none;
  color: white;
}

.source:hover {
  background: #9afeff;
  color: black;
}

.source a:hover {
  color: black;
}

.visit {
  grid-column: 2/3;
  grid-row: 4/5;
  font-size: 1.5em;
  color: white;
  background: #b6b6b4;
  width: 60px;
  padding-left: 10px;
  border-style: groove;
  border-radius: 5%;
  margin-left: 0.5em;
}

.visit a {
  text-decoration: none;
  color: white;
  margin-bottom: 0;
}

.visit:hover {
  background: #9afeff;
}

.visit a:hover {
  color: black;
}

.bowling {
  position: relative;
  grid-column: 2/3;
  grid-row: 4/5;
  top: 1.5em;
}

.bowling-size {
  width: 10em;
  height: auto;
  border: 5px solid #b6b6b4;
  border-radius: 5%;
  background-color: white;
  
}

.charity {
  grid-column: 2/3;
  grid-row: 4/5;
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
  margin-bottom: 1em;
}

.description {
  grid-column: 2/3;
  grid-row: 4/5;
  font-size: 1.5em;
  color: white;
  height: fit-content;
  margin-bottom: 0;
  margin-top: 1.5em;
}

.charity-info {
  grid-column: 2/3;
  grid-row: 4/5;
  font-size: 1.2em;
  color: white;
  text-align: left;
  margin: 0;
}

.p-charity {
  margin: 0;
  margin-top: 0.8em;
}

.charity-specifics {
  font-size: 1.2em;
  color: white;
  text-decoration: underline;
  margin-top: 0;
  margin-bottom: 2em;
}

.all-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-between;
}

.social2 {
  color: #2c3539;
}

.button-container {
  display: flex;
  justify-content: center;
  column-gap: 50px;
}

.prev-btn {
  border: none;
  background: none;
  grid-column: 2/3;
  grid-row: 4/5;
  margin-right: 0;
  margin-left: 2em;
  padding: 0;
  font-size: 3em;
  color: black;
  height: 50px;
  align-self: center;
}

.prev-btn:hover {
  color: cyan;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
  
}

.next-btn {
  border: none;
  background: none;
  margin-left: 0;
  margin-right: 2em;
  padding: 0;
  font-size: 3em;
  color: black;
  height: 50px;
  align-self: center;
}

.next-btn:hover {
  color: cyan;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
}






/*  EXTRA SMALL PHONES */
@media screen and (max-width: 600px) {
  body {
    grid-template-rows: 9.22em 35em 35em 55em 9.22em;
  }

  nav {
    display: none;
  }

  .placeholder {
    height: 13em;
    width: 10em;
  }

  .all-socials {
    display: flex;
  }

  .logo {
    width: 8em;
  }

  .h-python {
    font-size: 1.5em;
  }

  .python {
    width: auto;
    height: 4em;
  }

  .h-html {
    font-size: 1.5em;
    width: 125px;
    text-align: center;
  }

  .html {
    height: 4em;
  }

  .h-css {
    font-size: 1.5em;
  }

  .css {
    height: 4em;
  }

  .h-javascript {
    font-size: 1.5em;
  }

  .javascript {
    height: 4em;
  }

  .h-java {
    font-size: 1.5em;
  }

  .java {
    height: 4em;
  }

  .h-spring {
    font-size: 1.5em;
  }

  .spring {
    height: 4em;
  }

  .h-sql {
    font-size: 1.5em;
  }

  .sql {
    height: 4em;
  }

  .h-django {
    font-size: 1.5em;
  }

  .django {
    height: 4em;
  }

  .about-info {
    height: 30em;
    width: 10em;
  }

  .about {
    width: 10em;
    font-size: 1.5em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2em;
  }

  .info-me {
    font-size: 0.9em;
    margin-top: 2.5em;
    margin-bottom: 0;
  }

  .all-cards {
    flex-wrap: wrap;
  }

  .cards {
    height: 18em;
    width: 28em;
    margin-bottom: 5em;
    margin-right: 1em;
  }

  .bowling-size {
    width: 8em;
    height: auto;
  }

  .translator-size {
    width: 8em;
    height: auto;
  }

  .description {
    grid-column: 2/3;
    grid-row: 4/5;
    font-size: 1.2em;
    color: white;
    height: fit-content;
    margin-bottom: 0;
    margin-top: 1.5em;
  }

  .charity-info {
    grid-column: 2/3;
    grid-row: 4/5;
    font-size: 0.9em;
    color: white;
    text-align: left;
    margin: 0;
  }

  .social2 {
    color: #9afeff;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
  body {
    grid-template-rows: 9.22em 35em 35em 47em 9.22em;
  }

  .about-info {
    height: 25em;
    width: 25em;
  }

  .about {
    width: 15em;
    font-size: 2.5em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 4em;
  }

  .info-me {
    font-size: 1.2em;
    margin-bottom: 4em;
  }

  .placeholder {
    height: 13em;
    width: 13em;
  }

  .logo {
    width: 8em;
  }

  .h-python {
    font-size: 1.5em;
  }

  .python {
    width: auto;
    height: 4em;
  }

  .h-html {
    font-size: 1.5em;
    width: 125px;
    text-align: center;
  }

  .html {
    height: 4em;
  }

  .h-css {
    font-size: 1.5em;
  }

  .css {
    height: 4em;
  }

  .h-javascript {
    font-size: 1.5em;
  }

  .javascript {
    height: 4em;
  }

  .h-java {
    font-size: 1.5em;
  }

  .java {
    height: 4em;
  }

  .h-spring {
    font-size: 1.5em;
  }

  .spring {
    height: 4em;
  }

  .h-sql {
    font-size: 1.5em;
  }

  .sql {
    height: 4em;
  }

  .h-django {
    font-size: 1.5em;
  }

  .django {
    height: 4em;
  }

  .all-cards {
    flex-wrap: wrap;
  }

  .cards {
    height: 15em;
    width: 20em;
    margin-bottom: 5em;
  }

  .description {
    grid-column: 2/3;
    grid-row: 4/5;
    font-size: 1.1em;
    color: white;
    height: fit-content;
    margin-bottom: 0;
    margin-top: 1.5em;
  }

  .charity-info {
    grid-column: 2/3;
    grid-row: 4/5;
    font-size: 0.7em;
    color: white;
    text-align: left;
    margin: 0;
  }

  .translator {
    position: relative;
    grid-column: 2/3;
    grid-row: 4/5;
    top: 1.5em;
    margin-top: 0;
    margin-bottom: 1em;
  }

  .translator-size {
    width: 7em;
    height: auto;
  }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 783px) {
  .placeholder {
    height: 27em;
    width: 27em;
  }
  

  .line2 {
    margin-bottom: 0;
    margin-top: 4em;
  }


  .cards {
    grid-column: 2/3;
    grid-row: 4/5;
    height: 22em;
    width: 32em;
  }

  .card-title {
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
    margin: 0;
  }

  .description {
    grid-column: 2/3;
    grid-row: 4/5;
    font-size: 1.5em;
    color: white;
    height: fit-content;
    margin-bottom: 0;
    margin-top: 1.5em;
  }

  .charity-info {
    grid-column: 2/3;
    grid-row: 4/5;
    font-size: 1.2em;
    color: white;
    text-align: left;
    margin: 0;
  }

  .translator-size {
    width: 10em;
    height: auto;
  }

  .bowling-size {
    width: 12em;
    height: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1300px) {
  .about-info {
    width: 40em;
  }

  .about {
    font-size: 3em;
  }

  .info-me {
    font-size: 1.7em;
    margin-top: 2.5em;
    margin-bottom: 0;
  }

  .logo {
    width: 13em;
  }

  .h-python {
    font-size: 2em;
  }

  .python {
    width: auto;
    height: 5em;
  }

  .h-html {
    font-size: 2em;
    width: 200px;
    text-align: center;
  }

  .html {
    height: 5em;
  }

  .h-css {
    font-size: 2em;
  }

  .css {
    height: 5em;
  }

  .h-javascript {
    font-size: 2em;
  }

  .javascript {
    height: 5em;
  }

  .h-java {
    font-size: 2em;
  }

  .java {
    height: 5em;
  }

  .h-spring {
    font-size: 2em;
  }

  .spring {
    height: 5em;
  }

  .h-sql {
    font-size: 2em;
  }

  .sql {
    height: 5em;
  }

  .h-django {
    font-size: 2em;
  }

  .django {
    height: 5em;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 2000px) {
  .placeholder {
    height: 20em;
    width: 20em;
  }

  /* .line2 {
    margin-top: 0;
    margin-bottom: 10em;
  } */

  .cards {
    height: 25em;
    width: 35em;
  }

  .description {
    grid-column: 2/3;
    grid-row: 4/5;
    font-size: 2em;
    color: white;
    height: fit-content;
    margin-bottom: 0;
    margin-top: 1.5em;
  }

  .charity-info {
    grid-column: 2/3;
    grid-row: 4/5;
    font-size: 1.5em;
    color: white;
    text-align: left;
    margin: 0;
  }

  .bowling-size {
    width: 15em;
  }

  .translator-size {
    width: 10em;
  }

  .card-title {
    font-size: 2em;
  }
}
